{%extends 'dummy.html' %}

    {% block title %}
    <title>List of Animals</title>
    {% endblock %}
    

{% block body_block %}


<style>
    .card {
        display: inline-block;
        width: 18rem;
        margin-right: 10px;
    }

    .card-text {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>

<br> <br>
<div class="container mt-3">
    <div class="row">
        {% for i in data %}
        <div class="col-md-4">
            <div class="card" style="width:20rem; height:25rem;">
                <div class="card-header">
                    <img src="{{i.images}}" class="card-img-top" alt="..." width="250px" height="250px">
                </div>
                <div class="card-body">
                    <h5 class="card-title"><a href="{{i.Aname}}">{{i.Aname}}</a></h5>
                    <a href="{{i.wekipedia}}"><p class="card-text">{{i.wekipedia}}</p></a>
                </div>
            </div>
        </div>
        {% endfor %}
       </div>
    </div>


    {% endblock %}